.register {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background: url('../imgs/imagen\ 1.png')no-repeat;
    background-position: center;
    background-size: cover;
}

.register__box {
    position: relative;
    width: 28.125rem;
    height: 31.25rem;
    background: transparent;
    border: 2px solid #a64724;
    backdrop-filter: blur(0.625rem);
    border-radius: 1.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.register__text {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    margin-bottom: var(--margin-buttom);
}

.tittle {
    font-size: var(--tittle_font-size);
    color: #401b0e;
    text-align: center;
}

.texto {
    font-size: 0.938rem;
    color: var(--color-text_registro);
    text-align: center;
}

.register__input {
    position: relative;
    margin: 1.875rem 0;
    width: 310px;
    border-bottom: 2px solid #a64724;
}

.register__label {
    position: absolute;
    top: 10%;
    left: 5px;
    transform: translateY(-50%);
    color: var(--color-text_registro);
    font-size: 1em;
    pointer-events: none;

}



.register__input-text {
    width: 100%;
    height: 3.125rem;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    padding: 0 35px 0 5px;
    color: #a64724;
}

.register__icon {
    position: absolute;
    right: 8px;
    color: #a64724;
    font-size: 1.2em;
    top: 1.25rem;
}
.register__radio{
    display: flex;
    gap: var(--gap);
    color: var(--color-text_registro);
    margin-bottom: var(--margin-buttom);
    
}
.register__input-radio{
 width:  0.938rem;
 height: 0.938rem;
}

.register__text {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    margin-bottom: 5px;
}

.register__texto {
    font-size: 0.938rem;
    color: var(--color-text_registro);
    text-align: center;
}

.register__link {
    text-decoration: none;
    color: var(--color-text_registro);
}

.register__link:hover {
    color: #401b0e;
}

.register__button {
    width: 100%;
    height: 2.188rem;
    border-radius: 3.125rem;
    background-color: #a64724;
    border: none;
    outline: none;
    cursor: pointer;
    margin-top: var(--margin-top);
    font-size: 1rem;
}