@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Montserrat:wght@300&family=Mooli&family=Noto+Sans:wght@200&family=Playfair+Display:ital@1&family=Playpen+Sans:wght@200&family=Roboto:ital,wght@1,100&family=Space+Grotesk&display=swap");

* {
    padding: 0;
    margin: 0;
    font-family: "Dancing Script", cursive;
    font-family: "Montserrat", sans-serif;
    font-family: "Mooli", sans-serif;
    font-family: "Noto Sans", sans-serif;
    font-family: "Playfair Display", serif;
    font-family: "Playpen Sans", cursive;
    font-family: "Roboto", sans-serif;
    font-family: "Space Grotesk", sans-serif;
}

.register {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
   background: url('../imgs/imagen\ 1.png')no-repeat;
   background-position: center;
   background-size: cover;
}

.register__box {
    position: relative;
    width: 28.125rem;
    height: 31.25rem;
    background: transparent;
    border: 2px solid #a64724;
    backdrop-filter: blur(0.625rem);
    border-radius: 1.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.register__text {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-bottom: 5px;
}

.tittle {
    font-size: 2rem;
    color: #401b0e;
    text-align: center;
}

.texto {
    font-size: 0.938rem;
    color: #a64724;
    text-align: center;
}

.register__input {
    position: relative;
    margin: 1.875rem 0;
    width: 310px;
    border-bottom: 2px solid #a64724;
}

.register__label {
    position: absolute;
    top: 10%;
    left: 5px;
    transform: translateY(-50%);
    color: #a64724;
    font-size: 1em;
    pointer-events: none;

}



.register__input-text {
    width: 100%;
    height: 3.125rem;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    padding: 0 35px 0 5px;
    color: #a64724;
}

.register__icon {
    position: absolute;
    right: 8px;
    color: #a64724;
    font-size: 1.2em;
    top: 1.25rem;
}

.register__button {
    width: 100%;
    height: 2.188rem;
    border-radius: 3.125rem;
    background-color: #a64724;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1rem;
}