/*font familys*/
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Montserrat:wght@300&family=Mooli&family=Noto+Sans:wght@200&family=Playfair+Display:ital@1&family=Playpen+Sans:wght@200&family=Roboto:ital,wght@1,100&family=Space+Grotesk&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Montserrat:wght@300&family=Mooli&family=Noto+Sans:wght@200&family=Oswald:wght@300&family=Playfair+Display:ital@1&family=Playpen+Sans:wght@200&family=Roboto:ital,wght@1,100&family=Space+Grotesk&display=swap');

/*Archivos importados*/
@import "./index.css";

/* variables*/

:root {

    /*font-familys*/
    --font_family-text: "Dancing Script", cursive, "Montserrat", sans-serif, "Mooli", sans-serif, "Noto Sans", sans-serif, "Playfair Display", serif, "Playpen Sans", cursive, "Roboto", sans-serif, "Space Grotesk", sans-serif;
    --font_family-tittle: 'Dancing Script', cursive, 'Montserrat', sans-serif, 'Mooli', sans-serif, 'Noto Sans', sans-serif, 'Oswald', sans-serif, 'Playfair Display', serif, 'Playpen Sans', cursive, 'Roboto', sans-serif, 'Space Grotesk', sans-serif;
    /*boxes*/
    --navbar_footer-color: #402610;
    --body-color: #A67D65;
    --section-color: #D9B9A7;

    /*textos*/
    --text-color: #734D45;
    --tittle-color: #260101; 
    --link-color:  #A67D65;
    --link-color_hover: #654e40;

    /*Medidas*/
    --font-size: 1.563rem;
    --gap:3.125rem;
    --z-superior: 2;
    --z-inferior: 0;

}

* {
    padding: 0;
    margin: 0;
}

/*barra de navegación*/
.nav {
    position: fixed;
    font-family: var(--font_family-text);
    background-color: var(--navbar_footer-color);
    width: 100%;
    height: 12.5rem;
    z-index: var(--z-superior);
}

.nav__var {
    display: flex;
    justify-content: end;
}


.nav__logo {
    margin-top: 3.125rem;
    margin-left: 3.125rem;
}
.nav__logo-img{
    margin-top: 3.125rem;
    margin-left: 3.125rem;
    width: 9.375rem;
    height: 9.375rem;
    border-radius: 100%;
}


.nav__ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    margin-top: -200px;
    margin-right: 3.125rem;
    gap: var(--gap);
}

.nav__link {
    font-size: var(--font-size);
    text-decoration: none;
    color: var(--link-color);
}

.nav__link:hover {
    text-decoration: underline;
    color: var(--link-color_hover);
}

/*Footer*/

.redes{
    background-color: var(--navbar_footer-color);
    width: 100%;
    height: 12.5rem;
}

.redes__social{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--gap);
}

.redes__item{
    margin-top: 1.563rem;
}